body {
	/*background-color: #323B55;*/
	background: url("../img/blur.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	margin: 0;
	overflow:hidden;
}
@font-face {
	src: url('../fonts/Raleway-Thin.ttf');
}
	#wrapper{
		min-width: 1024px;
		min-height: 945px;
	
	}
	header{
		color: #000;
		background-color: #ecf0f1;
		width: 60%;
		height: auto;
		margin-left: 20%;
		position: fixed;
		vertical-align: middle;
	}
	#izquierda{
		float: left;
		width: 40%;
		font-family: Raleway thin;
	}
	
	#derecha{
		float: right;
		margin-right: 10px;
		font-size: 20px;
		margin-top: 5px;
	}
	
	img{
		float: left;
	}
	

	#empresa{
		margin-top: 35px;
	}
	
	.lateral{
		
		height: 500px;
		width: 400px;
		float: left;
		margin-top: 10%;
		margin-left: 1%; 
		}
	
	#contenedor_titulo{
		position: fixed;
		width: 500px;
		background-color: #27ae60;
		color: #fff;
	}
	#titulo_contacto{
		width: 340px;
		margin-left: 90px;
		float: left;
		font-family: Raleway thin;
	}

#nuevo_contacto{
		float: left;
		margin-top: 20px;
	}
	.contenido{
		background-color: #ecf0f1;
		width: 480px;
		margin-top: 210px;
		float: left;
		margin-left: 1%;
		padding-left: 20px;
		padding-bottom: 10px;
		position: fixed;
		height: 55%;
		overflow-y: scroll;
	}
	
	.modificar_contacto{
		width: 22%;
		height: 30px;
		text-decoration: none;
		margin-top: 1%;
		color: #fff;
		padding: 10px;
		font-weight: bold;
		border-radius: 6px;
		border: none;
		cursor: pointer;
		background-image: -webkit-linear-gradient(bottom, #27ae60 0%, #7dce9f 100%);
	}
	
	
	#map{
		position: fixed;
		height: 430px;
		width: 800px;
		float: left;
		margin-left: 120px;
		margin-top: 136px;
	}
	#formulario_box input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
		height: 40px;
		font-size: 14px;
		color: #444;
		border: 1px solid rgba(0, 0, 0, .49);
		padding-left: 2%;
		border-radius: 6px;
		width: 80%;
		display: block;
		-webkit-box-sizing: border-box;
	}		

	footer{
		position:fixed;
		bottom: 0;
		color: #000;
		clear: both;
		width: 100%;
		color: #fff;
		background-color: grey;
		text-align: center;
}